body{
    h1 {
        color: rgb(0, 4, 44)
        font: calibri/sans-serif
    }
    h2{
        color: blue
        font: cambria/sans-serif
    }
    h3{color: blue
        font: cambria/sans-serif
    }
}