body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

h1 {
    font-size: large;
    color: yellowgreen;
}

h2 {
    font-size: large;
    color: yellow;
}

h3 {
    font-size: large;
    color: blue;
}

.small-heading {
    font-size: small;
    background-color: gray;
    color: black;
    display: inline-block;
    padding: 4px 8px;
    margin-top: 10px;
}

.dummy-text {
    border: 1px solid red;
    padding: 12px;
    font-weight: 300;
    width: 500px;
}